---
###############################################################################
#
# absent.yml
#
# @author Arsi Atomi
#
###############################################################################

- name: "Ensuring firewalld is absent"
  ansible.builtin.dnf:
    name: firewalld
    state: absent
    sslverify: "{{ dnf_sslverify }}"
    validate_certs: "{{ dnf_validate_certs }}"
    disable_gpg_check: "{{ dnf_disable_gpg_check }}"
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"

###############################################################################
# ENSURING CRONJOB CONFIGURATION
###############################################################################

- name: "Ensuring cron configuration is absent"
  ansible.builtin.include_tasks: cron_absent.yml
  when: iac_blueprint.firewalld.cron is defined
  vars:
    iac_cron: "{{ iac_blueprint.firewalld.cron | default([]) }}"

###############################################################################
# ENSURING FILESYSTEM CONFIGURATION
###############################################################################

- name: "Ensuring filesystem configuration is absent"
  ansible.builtin.include_tasks: fs_absent.yml
  when: iac_blueprint.firewalld.directories is defined
  vars:
    iac_fs_directories: "{{ iac_blueprint.firewalld.directories | default([]) }}"
    iac_fs_files: "{{ iac_blueprint.firewalld.files | default([]) }}"
