---
###############################################################################
#
# fs_absent.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# LOOPING THROUGH DIRECTORIES
###############################################################################

- name: "Looping through directories"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: "absent"
  loop: "{{ iac_fs_directories | default([]) }}"
  loop_control:
    label: "{{ item.path }}"

- name: "Writing files from inline content"
  ansible.builtin.file:
    path: "{{ f.path }}"
    state: "absent"
  loop: "{{ iac_fs_files | default([]) }}"
  when:
    - (iac_fs_files | default([])) | length > 0
  loop_control:
    loop_var: f
    label: "{{ f.path }}"
