---
###############################################################################
#
# fs_present.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Checking if required variables are defined"
  ansible.builtin.assert:
    that:
      - iac_fs_directories is defined
    fail_msg: "All tests did not pass"

###############################################################################
# LOOPING THROUGH DIRECTORIES
###############################################################################

- name: "Looping through directories"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: "{{ item.state | default('directory') }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
  loop: "{{ iac_fs_directories | default([]) }}"
  loop_control:
    label: "{{ item.path }}"

###############################################################################
# FILESYSTEM: FILES (content)
###############################################################################

- name: "Writing files from inline content"
  ansible.builtin.copy:
    dest: "{{ f.path }}"
    content: "{{ f.content }}"
    owner: "{{ f.owner | default(omit) }}"
    group: "{{ f.group | default(omit) }}"
    mode: "{{ f.mode | default(omit) }}"
  loop: "{{ iac_fs_files | default([]) }}"
  when:
    - (iac_fs_files | default([])) | length > 0
    - f.content is defined
  loop_control:
    loop_var: f
    label: "{{ f.path }}"
