---
###############################################################################
#
# main.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# CHECKING REQUIREMENTS
###############################################################################

- name: "Checking if we are in container"
  ansible.builtin.meta: end_play
  when: ansible_virtualization_type in ["docker", "podman", "lxc"]

- name: "Checking if operating system is supported"
  ansible.builtin.fail:
    msg: "Unsupported operating system: {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  when: >
    iac_supported_os | selectattr('name', 'equalto', ansible_distribution)
                     | selectattr('versions', 'contains', ansible_distribution_major_version)
                     | list
                     | length == 0

- name: "Checking if service_key is found from variables"
  ansible.builtin.fail:
    msg: "iac_blueprint.{{ iac_service_key }} is not defined"
  when:
    - iac_blueprint is not defined
    - iac_blueprint.firewalld is not defined

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Setting what virtual hosts are to be configured"
  ansible.builtin.set_fact:
    fw_ipsets: "{{ iac_blueprint.firewalld.ipsets }}"

- name: "Checking proxy address if it's defined"
  ansible.builtin.set_fact:
    proxy_host: "{{ (http_proxy | regex_replace('^https?://', '')).split(':')[0] }}"
    proxy_port: "{{ (http_proxy | regex_replace('^https?://', '')).split(':')[1] | int }}"
  when: >
    (
      (http_proxy is defined and http_proxy != "")
      or (https_proxy is defined and https_proxy != "")
    )
    and (inventory_hostname not in (no_proxy | default("") | split(",")))

- name: "Checking that proxy connection is working if it's defined"
  ansible.builtin.wait_for:
    host: "{{ proxy_host }}"
    port: "{{ proxy_port }}"
    state: "started"
    timeout: 3
  when: >
    (
      (http_proxy is defined and http_proxy != "")
      or (https_proxy is defined and https_proxy != "")
    )
    and (inventory_hostname not in (no_proxy | default("") | split(",")))

###############################################################################
# CHECKING STATES
###############################################################################

- name: "Ensure firewalld all install related tasks are run"
  ansible.builtin.include_tasks: install.yml
  when: state | default('install') == 'install'

- name: "Ensure firewalld is present"
  ansible.builtin.include_tasks: present.yml
  when: state == 'present'

- name: "Ensure firewalld is absent"
  ansible.builtin.include_tasks: absent.yml
  when: state == 'absent'

- name: "Ensure firewalld is started"
  ansible.builtin.include_tasks: started.yml
  when: state == 'started'

- name: "Ensure firewalld is stopped"
  ansible.builtin.include_tasks: stopped.yml
  when: state == 'stopped'

- name: "Ensure firewalld port is open"
  ansible.builtin.include_tasks: port_open.yml
  when: state == 'port_open'

- name: "Ensure firewalld port is closed"
  ansible.builtin.include_tasks: port_closed.yml
  when: state == 'port_closed'

- name: "Ensure firewalld service is open"
  ansible.builtin.include_tasks: service_open.yml
  when: state == 'service_open'

- name: "Ensure firewalld service is closed"
  ansible.builtin.include_tasks: service_closed.yml
  when: state == 'service_closed'

- name: "Ensure firewalld ipsets are present"
  ansible.builtin.include_tasks: ipset_present.yml
  when: state == 'ipset_present'

- name: "Ensure firewalld ipsets are absent"
  ansible.builtin.include_tasks: ipset_absent.yml
  when: state == 'ipset_absent'

- name: "Ensure ips are present in ipsets"
  ansible.builtin.include_tasks: ipset_ip_present.yml
  when: state == 'ipset_ip_present'

- name: "Ensure ips are absent in ipsets"
  ansible.builtin.include_tasks: ipset_ip_absent.yml
  when: state == 'ipset_ip_absent'

- name: "Ensure ipset port is added to rich rule"
  ansible.builtin.include_tasks: ipset_port_open.yml
  when: state == 'ipset_port_open'

- name: "Ensure ipset port is removed from rich rule"
  ansible.builtin.include_tasks: ipset_port_closed.yml
  when: state == 'ipset_port_closed'

- name: "Ensure ipset service is added to rich rule"
  ansible.builtin.include_tasks: ipset_service_open.yml
  when: state == 'ipset_service_open'

- name: "Ensure ipset service is removed from rich rule"
  ansible.builtin.include_tasks: ipset_service_closed.yml
  when: state == 'ipset_service_closed'

- name: "Ensure firewalld is reloaded"
  ansible.builtin.include_tasks: reloaded.yml
  when: state == 'reloaded'
