---
###############################################################################
#
# started.yml
#
# @author Arsi Atomi
#
###############################################################################

- name: "Ensuring firewalld is started"
  ansible.builtin.systemd_service:
    name: firewalld
    state: started
